<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-buttons</title>
</head>
<body>
  <div class="container">
    <h1>Button Apps</h1>
    <div>
      <button type="button" (click) = "btn1()" class="button">Button01</button>
      <button type="button" (click) = "btn2()" class="button">Button02</button>
      <button type="button" (click) = "btn3()" class="button">Button03</button>
      <button type="button" (click) = "btn4()" class="button">Button04</button>
    </div>
    <div class="sm-container">
      <h2>Componente history</h2>
      <p>Ultimo bottone premuto</p>
      <p>{{nombtn}}</p>
      <p>Storico bottone premuti</p>
      <ul>
        <li *ngFor="let val of lista">{{val}}</li>
      </ul>
    </div>
  </div>
</body>
</html>